<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="204800" requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="constr" value="server=115.28.101.158;database=lwgs_web;uid=sa;pwd=008866@swkj"/>
  </appSettings>
</configuration>